<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Junho Han, Seunghyun Lee, Jinwoo Shin">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title> AI People Search </title>

    <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      a {
        color : blue ;
        text-decoration: none;
      }
      a:hover{
        color : blue;
        text-decoration: underline;
      }
      a:visited{
        color:darkcyan;
      }
      a:active{
        color:black;
      }
      .container{
        padding-top: 30px;
      }
      #footer{
        padding-top: 5px;
      }
      hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }
    </style>

    <script>
      window.onload = function() {
        document.getElementById("fromyear").options[7].selected = true;
        document.getElementById("toyear").options[10].selected = true;
        document.getElementById("filter2").options[2].selected = true;

        var topbox = document.getElementById("all");
        topbox.checked = true;
        checkAll(topbox);
      };

      function submit(){
      	var selectedValue1 = document.getElementById("fromyear").value;
      	var selectedValue2 = document.getElementById("toyear").value;
        var selectedValue3 = document.getElementById("filter").selectedIndex;
        var selectedValue4 = document.getElementById("filter2").selectedIndex;

      	var new_location = "/"+selectedValue1+selectedValue2+selectedValue3+selectedValue4+"_";

        var areas = ["CV", "ML", "DM", "NLP", "WIR"];

      	var i, j, select;
      	for (i = 0; i < areas.length; i++) {
      	  select = document.getElementsByName(areas[i])
      	  for (j = 0; j < select.length; j++) {
      	    if (select[j].checked === true) {
      	      new_location += select[j].value;
      	      new_location += "_";
      	    }
      	  }
      	}

      	window.location = new_location;
      }

      function checkAll(topbox) {
        var checkboxes = document.getElementsByTagName("input");
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            checkboxes[i].checked = topbox.checked;
          }
        }
      }

      function checkParts(partbox) {
        if (!partbox.checked) {
          var topbox = document.getElementById("all");
          topbox.checked = false;
        }
        var checkboxes = document.getElementsByName(partbox.id);
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            checkboxes[i].checked = partbox.checked;
          }
        }
        allChecked();
      }

      function check(box) {
        if (!box.checked) {
          var topbox = document.getElementById("all");
          var partbox = document.getElementById(box.name);
          topbox.checked = false;
          partbox.checked = false;
        }
        partsChecked(box.name);
        allChecked();
      }

      function partsChecked(name) {
        var partbox = document.getElementById(name);
        var checkboxes = document.getElementsByName(name);
        var c = true;
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            if (!checkboxes[i].checked) {
              c = false;
            }
          }
        }
        partbox.checked = c;
      }

      function allChecked() {
        var topbox = document.getElementById("all");
        var checkboxes = document.getElementsByTagName("input");

        var a = 0, b = 0;
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            a = a + 1;
            if (checkboxes[i].checked) {
              b = b + 1;
            }
          }
        }
        if (a == b + 1) {
          topbox.checked = true;
        }
      }
    </script>
  </head>

  <body>
    <br>
    <div class="container" id="header">
      <h1> AIPS: AI People Search </h1>
    </div>

    <div class="container">
      <div class="form-inline">
        <div class="form-group">
          <label for="fromyear">From</label>
          <select class="form-control" id="fromyear">
            {% for year in years %}
              <option value="{{year}}">{{year}}</option>
            {% endfor %}
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <label for="toyear">To</label>
          <select class="form-control" id="toyear">
            {% for year in years %}
              <option>{{year}}</option>
            {% endfor %}
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <label for="filter">Filter</label>
          <select class="form-control" id="filter">
            <option>all</option>
            <option>only korean</option>
            <option>only first author</option>
            <option>only last author</option>
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <select class="form-control" id="filter2">
            <option>&le; 10 authors</option>
            <option>&le; 25 authors</option>
            <option>&le; 50 authors</option>
            <option>&le; 100 authors</option>
            <option>&le; 200 authors</option>
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <button type="submit" onclick="submit()"
                  class="btn btn-primary form-control">Submit</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="all" onclick="checkAll(this)"><b>All Areas</b>
          </label>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="CV" onclick="checkParts(this)"><b>COMPUTER VISION</b>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="CV" value="CVPR" onclick="check(this)"> CVPR
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="CV" value="ECCV" onclick="check(this)"> ECCV
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="CV" value="ICCV" onclick="check(this)"> ICCV
          </label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="DM" onclick="checkParts(this)"><b>DATA MINING</b>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="DM" value="CIKM" onclick="check(this)"> CIKM
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="DM" value="ICDE" onclick="check(this)"> ICDE
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="DM" value="ICDM" onclick="check(this)"> ICDM
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="DM" value="KDD" onclick="check(this)"> KDD
          </label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="ML" onclick="checkParts(this)"><b>MACHINE LEARNING</b>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ML" value="AISTATS" onclick="check(this)"> AISTATS
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ML" value="COLT" onclick="check(this)"> COLT
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ML" value="ICLR" onclick="check(this)"> ICLR
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ML" value="ICML" onclick="check(this)"> ICML
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ML" value="NIPS" onclick="check(this)"> NIPS
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ML" value="UAI" onclick="check(this)"> UAI
          </label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="NLP" onclick="checkParts(this)"><b>NATURAL LANGUAGE PROCESSING</b>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="NLP" value="ACL" onclick="check(this)"> ACL
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="NLP" value="EMNLP" onclick="check(this)"> EMNLP
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="NLP" value="NAACL" onclick="check(this)"> NAACL
          </label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="WIR" onclick="checkParts(this)"><b> WEB &amp; INFORMATION RETRIEVAL</b>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="WIR" value="SIGIR" onclick="check(this)"> SIGIR
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="WIR" value="WWW" onclick="check(this)"> WWW
          </label>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <hr>
    <div class="container" style="text-align: center" id="footer">
      <address>AIPS was made by
        <a href="mailto:jyuno426@kaist.ac.kr"> Junho Han</a>,
        <a href="mailto:camusian@kaist.ac.kr"> Seunghyun Lee</a> and
        <a href="mailto:jinwoos@kaist.ac.kr"> Jinwoo Shin</a> at
        Algorithmic Intelligence Laboratory,
        Korea Advanced Institute of Science and Technology.
      </address>
    </div>

  </body>
</html>