<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Junho Han, Seunghyun Lee, Jinwoo Shin">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title> AI Korean Search </title>

    <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      a {
        color : blue ;
        text-decoration: none;
      }
      a:hover{
        color : blue;
        text-decoration: underline;
      }
      a:visited{
        color:darkcyan;
      }
      a:active{
        color:black;
      }
      .container{
        padding-top: 15px;
      }
      .col-sm-4 {
        padding-bottom: 15px;
      }
      #footer{
        padding-top: 5px;
      }
      hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }
    </style>

    <script>
      window.onload = function() {
        document.getElementById("fromyear").options[2009 - 1960].selected = true;
        document.getElementById("toyear").options[2018 - 1960].selected = true;
        document.getElementById("filter").options[1].selected = true;
        document.getElementById("filter2").options[2].selected = true;

        var topbox = document.getElementById("all");
        topbox.checked = true;
        checkAll(topbox);
      };

      function submit(){
      	var selectedValue1 = document.getElementById("fromyear").value;
      	var selectedValue2 = document.getElementById("toyear").value;
        var selectedValue3 = document.getElementById("filter").selectedIndex;
        var selectedValue4 = document.getElementById("filter2").selectedIndex;

      	var new_location = "/"+selectedValue1+selectedValue2+selectedValue3+selectedValue4+"_";

        var areas = ["ML", "DMIR", "CVG", "NLP", "SSP", "R", "T", "CA", "N", "S", "DB", "OS"];

      	var i, j, select;
      	for (i = 0; i < areas.length; i++) {
      	  select = document.getElementsByName(areas[i])
      	  for (j = 0; j < select.length; j++) {
      	    if (select[j].checked === true) {
      	      new_location += select[j].value;
      	      new_location += "_";
      	    }
      	  }
      	}

      	window.location = new_location;
      }

      function checkAll(topbox) {
        var checkboxes = document.getElementsByTagName("input");
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            checkboxes[i].checked = topbox.checked;
          }
        }
      }

      function checkParts(partbox) {
        if (!partbox.checked) {
          var topbox = document.getElementById("all");
          topbox.checked = false;
        }
        var checkboxes = document.getElementsByName(partbox.id);
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            checkboxes[i].checked = partbox.checked;
          }
        }
        allChecked();
      }

      function check(box) {
        if (!box.checked) {
          var topbox = document.getElementById("all");
          var partbox = document.getElementById(box.name);
          topbox.checked = false;
          partbox.checked = false;
        }
        partsChecked(box.name);
        allChecked();
      }

      function partsChecked(name) {
        var partbox = document.getElementById(name);
        var checkboxes = document.getElementsByName(name);
        var c = true;
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            if (!checkboxes[i].checked) {
              c = false;
            }
          }
        }
        partbox.checked = c;
      }

      function allChecked() {
        var topbox = document.getElementById("all");
        var checkboxes = document.getElementsByTagName("input");

        var a = 0, b = 0;
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].type == "checkbox") {
            a = a + 1;
            if (checkboxes[i].checked) {
              b = b + 1;
            }
          }
        }
        if (a == b + 1) {
          topbox.checked = true;
        }
      }
    </script>
  </head>

  <body>
    <br>
    <div class="container" id="header" align="center">
      <h1> AIKS: AI Korean Search </h1>
    </div>
    <hr>

    <div class="container">
      <div class="form-inline">
        <div class="form-group">
          <label for="fromyear">From</label>
          <select class="form-control" id="fromyear">
            {% for year in years %}
              <option value="{{year}}">{{year}}</option>
            {% endfor %}
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <label for="toyear">To</label>
          <select class="form-control" id="toyear">
            {% for year in years %}
              <option>{{year}}</option>
            {% endfor %}
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <label for="filter">Filter</label>
          <select class="form-control" id="filter">
            <option>all</option>
            <option>only korean</option>
            <option>only first author</option>
            <option>only last author</option>
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <select class="form-control" id="filter2">
            <option>&le; 10 authors</option>
            <option>&le; 25 authors</option>
            <option>&le; 50 authors</option>
            <option>&le; 100 authors</option>
            <option>&le; 200 authors</option>
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <button type="submit" onclick="submit()"
                  class="btn btn-primary form-control">Submit</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="all" onclick="checkAll(this)"><b>All Areas</b>
            </label>
          </div>
        </div>
      </div>
      {% for area_row in ai_table %}
        <div class="row">
          {% for area, id, conf_list in area_row %}
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="{{ id }}" onclick="checkParts(this)"><b>{{ area }}</b>
                </label>
              </div>
              {% for conf, year in conf_list %}
                <div class="checkbox" style="padding-left: 20px;">
                  <label>
                    <input type="checkbox" name="{{ id }}" value="{{ conf }}" onclick="check(this)">
                    {{ conf }} {{ year }}
                  </label>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      {% for area_row in non_ai_table %}
        <div class="row">
          {% for area, id, conf_list in area_row %}
            <div class="col-sm-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="{{ id }}" onclick="checkParts(this)"><b>{{ area }}</b>
                </label>
              </div>
              {% for conf, year in conf_list %}
                <div class="checkbox" style="padding-left: 20px;">
                  <label>
                    <input type="checkbox" name="{{ id }}" value="{{ conf }}" onclick="check(this)">
                    {{ conf }} {{ year }}
                  </label>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <hr>
    <div class="container" style="text-align: center" id="footer">
      <address>AIKS was made by
        <a href="mailto:jyuno426@kaist.ac.kr"> Junho Han</a>,
        <a href="mailto:camusian@kaist.ac.kr"> Seunghyun Lee</a> and
        <a href="mailto:jinwoos@kaist.ac.kr"> Jinwoo Shin</a> at
        <a href="http://alinlab.kaist.ac.kr"> Algorithmic Intelligence Laboratory, KAIST</a>. <br> <br>
        Korean names are classified by a LSTM model, and search results for Korean authors are not perfect. <br>
        If you could notify us Korean authors that do not appear in the search results, we will incorporate them.
      </address>
    </div>

  </body>
</html>